* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  margin: 0;
  background-color: #2e303b;
}

.nav {
  display: flex;
  align-items: center;
  background-color: #21222a;
  padding: 15px 25px;
}

.nav > img {
  opacity: 80%;
  height: 60px;
  margin-right: 10px;
  border-radius: 7px;
}

.nav > h3 {
  margin-right: auto;
  color: #61dafb;
  font-weight: 700;
  font-size: 30px;
}

.nav > h4 {
  color: aliceblue;
  font-size: 20px;
}

.main {
  margin: 0;
  padding: 60px 30px;
  color: white;

  background-image: url('./images/react-icon-large.png');
  background-repeat: no-repeat;
  background-position: right 70%;
}

.main--title {
  font-size: 45px;
  letter-spacing: -0.04cm;
}

.main--list {
  margin-top: 40px;
  font-size: 22px;
}

.main--list > li {
  padding-block: 10px;
}

.main--list > li::marker {
  color: #61dafb;
  font-size: 1.4rem;
}
